# Older Adults PRJ - Cognitive Decline

Source: https://www.kaggle.com/datasets/ananthu19/alzheimer-disease-and-healthy-aging-data-in-us

____________

# Import Packages and Get Basic Understanding of the Data Set.

### Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

### Load CSV

In [2]:
cog_dcln = pd.read_csv('/Users/granthakason/Desktop/OADS/neg_qs Cognitive Decline.csv')

### General DF Field info

In [3]:
cog_dcln.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19180 entries, 0 to 19179
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             19180 non-null  int64
 1   YearStart              19180 non-null  int64
 2   YearEnd                19180 non-null  int64
 3   StateAbbr              19180 non-null  object
 4   State                  19180 non-null  object
 5   Datasource             19180 non-null  object
 6   Class                  19180 non-null  object
 7   Topic                  19180 non-null  object
 8   Question               19180 non-null  object
 9   Data_Value_Unit        19180 non-null  object
 10  DataValueTypeID        19180 non-null  object
 11  Data_Value_Type        19180 non-null  object
 12  Data_Value             11677 non-null  float64
 13  Low_Confidence_Limit   11598 non-null  float64
 14  High_Confidence_Limit  11598 non-null  float64
 15  Age Range              19180 non-null  object
 16  Stratification1        19180 non-null  object
 17  Stratification Type    16624 non-null  object
 18  Stratification Value   16624 non-null  object
 19  Geolocation            15931 non-null  object
 20  length_of_study(yrs)   19180 non-null  int64
 21  confidence_range       11598 non-null  float64
dtypes: float64(4), int64(4), object(14)
memory usage: 3.2+ MB

### Data Frame View

In [4]:
cog_dcln.head(3)

,Unnamed: 0,YearStart,YearEnd,StateAbbr,State,Datasource,Class,Topic,Question,Data_Value_Unit,...,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Age Range,Stratification1,Stratification Type,Stratification Value,Geolocation,length_of_study(yrs),confidence_range
0,33,2015,2020,AL,Alabama,BRFSS,Cognitive Decline,Talked with health care professional about sub...,Percentage of older adults with subjective cog...,%,...,NaN,NaN,NaN,Age Group,65 years or older,Race/Ethnicity,Native Am/Alaskan Native,POINT (-86.63186076 32.84057112),6,NaN
1,53,2015,2015,AL,Alabama,BRFSS,Cognitive Decline,Need assistance with day-to-day activities bec...,Percentage of older adults who reported that a...,%,...,41.8,33.6,50.4,Age Group,50-64 years,Race/Ethnicity,"White, non-Hispanic",POINT (-86.63186076 32.84057112),1,16.8
2,91,2015,2020,AL,Alabama,BRFSS,Cognitive Decline,Need assistance with day-to-day activities bec...,Percentage of older adults who reported that a...,%,...,39.3,30.5,48.7,Age Group,Overall,Gender,Male,POINT (-86.63186076 32.84057112),6,18.2

### Fields and all Field Values

In [5]:
# For loop Showing all of the data sets Field Value counts:
for col in cog_dcln.columns:
    vc = cog_dcln[col].value_counts()
    print(f"{col}:")
    print(vc)

Unnamed: 0:
33        1
147320    1
147296    1
147286    1
147281    1
         ..
82280     1
82268     1
82264     1
82262     1
214455    1
Name: Unnamed: 0, Length: 19180, dtype: int64
YearStart:
2015    8701
2019    3383
2020    2467
2016    2361
2017    1357
2018     911
Name: YearStart, dtype: int64
YearEnd:
2020    7560
2015    3608
2019    3383
2016    2361
2017    1357
2018     911
Name: YearEnd, dtype: int64
StateAbbr:
US      672
NRE     672
WEST    669
NY      666
MDW     663
OR      632
SOU     573
MI      528
UT      518
NJ      466
OH      381
MD      379
GA      375
NV      372
MS      360
DC      357
HI      348
TN      345
ME      330
WA      288
FL      285
RI      282
KS      282
TX      282
AZ      282
LA      279
MN      279
SC      276
VA      276
AL      276
MO      276
NE      276
IL      273
AK      273
PA      273
IA      271
IN      270
NC      270
OK      270
NM      267
CT      267
DE      267
AR      261
WI      261
KY      258
VT      255
NH      255
WY      252
CA      249
ID      246
SD      243
ND      243
WV      240
PR      225
MA      186
MT      180
CO      180
Name: StateAbbr, dtype: int64
State:
United States, DC & Territories    672
Northeast                          672
West                               669
New York                           666
Midwest                            663
Oregon                             632
South                              573
Michigan                           528
Utah                               518
New Jersey                         466
Ohio                               381
Maryland                           379
Georgia                            375
Nevada                             372
Mississippi                        360
District of Columbia               357
Hawaii                             348
Tennessee                          345
Maine                              330
Washington                         288
Florida                            285
Rhode Island                       282
Kansas                             282
Texas                              282
Arizona                            282
Louisiana                          279
Minnesota                          279
South Carolina                     276
Virginia                           276
Alabama                            276
Missouri                           276
Nebraska                           276
Illinois                           273
Alaska                             273
Pennsylvania                       273
Iowa                               271
Indiana                            270
North Carolina                     270
Oklahoma                           270
New Mexico                         267
Connecticut                        267
Delaware                           267
Arkansas                           261
Wisconsin                          261
Kentucky                           258
Vermont                            255
New Hampshire                      255
Wyoming                            252
California                         249
Idaho                              246
South Dakota                       243
North Dakota                       243
West Virginia                      240
Puerto Rico                        225
Massachusetts                      186
Montana                            180
Colorado                           180
Name: State, dtype: int64
Datasource:
BRFSS    19180
Name: Datasource, dtype: int64
Class:
Cognitive Decline    19180
Name: Class, dtype: int64
Topic:
Subjective cognitive decline or memory loss among older adults                                            5088
Talked with health care professional about subjective cognitive decline or memory loss                    4700
Need assistance with day-to-day activities because of subjective cognitive decline or memory loss         4696
Functional difficulties associated with subjective cognitive decline or memory loss among older adults    4696
Name: Topic, dtype: int64
Question:
Percentage of older adults who reported subjective cognitive decline or memory loss that is happening more often or is getting worse in the preceding 12 months              5088
Percentage of older adults with subjective cognitive decline or memory loss who reported talking with a health care professional about it                                    4700
Percentage of older adults who reported that as a result of subjective cognitive decline or memory loss that they need assistance with day-to-day activities                 4696
Percentage of older adults who reported subjective cognitive decline or memory loss that interferes with their ability to engage in social activities or household chores    4696
Name: Question, dtype: int64
Data_Value_Unit:
%    19180
Name: Data_Value_Unit, dtype: int64
DataValueTypeID:
PRCTG    19180
Name: DataValueTypeID, dtype: int64
Data_Value_Type:
Percentage    19180
Name: Data_Value_Type, dtype: int64
Data_Value:
0.0     71
9.6     63
9.4     63
11.1    58
12.0    58
        ..
76.7     1
75.7     1
79.9     1
99.1     1
69.0     1
Name: Data_Value, Length: 757, dtype: int64
Low_Confidence_Limit:
8.2     85
8.3     80
8.5     68
8.1     62
9.6     62
        ..
57.1     1
64.9     1
54.6     1
54.2     1
55.3     1
Name: Low_Confidence_Limit, Length: 596, dtype: int64
High_Confidence_Limit:
13.4    62
11.6    59
11.8    57
12.8    56
12.1    50
        ..
87.5     1
90.2     1
86.9     1
93.8     1
5.0      1
Name: High_Confidence_Limit, Length: 902, dtype: int64
Age Range:
Age Group    19180
Name: Age Range, dtype: int64
Stratification1:
Overall              6566
50-64 years          6413
65 years or older    6201
Name: Stratification1, dtype: int64
Stratification Type:
Race/Ethnicity    11512
Gender             5112
Name: Stratification Type, dtype: int64
Stratification Value:
Male                        2556
Female                      2556
White, non-Hispanic         2520
Hispanic                    2445
Native Am/Alaskan Native    2347
Black, non-Hispanic         2302
Asian/Pacific Islander      1898
Name: Stratification Value, dtype: int64
Geolocation:
POINT (-75.54397043 42.82700103)    666
POINT (-120.1550313 44.56744942)    632
POINT (-84.71439027 44.66131954)    528
POINT (-111.5871306 39.36070017)    518
POINT (-74.27369129 40.13057005)    466
POINT (-82.40426006 40.06021014)    381
POINT (-76.60926011 39.29058096)    379
POINT (-83.62758035 32.83968109)    375
POINT (-117.0718406 39.49324039)    372
POINT (-89.53803082 32.7455101)     360
POINT (-77.036871 38.907192)        357
POINT (-157.8577494 21.30485044)    348
POINT (-85.77449091 35.68094058)    345
POINT (-68.98503134 45.25422889)    330
POINT (-120.4700108 47.52227863)    288
POINT (-81.92896054 28.93204038)    285
POINT (-71.52247031 41.70828019)    282
POINT (-98.20078123 38.3477403)     282
POINT (-99.42677021 31.82724041)    282
POINT (-111.7638113 34.86597028)    282
POINT (-92.44568007 31.31266064)    279
POINT (-94.7942005 46.35564874)     279
POINT (-81.04537121 33.9988213)     276
POINT (-78.45789046 37.54268067)    276
POINT (-92.56630005 38.63579078)    276
POINT (-86.63186076 32.84057112)    276
POINT (-99.36572062 41.64104099)    276
POINT (-147.722059 64.84507996)     273
POINT (-88.99771018 40.48501028)    273
POINT (-77.86070029 40.79373015)    273
POINT (-93.81649056 42.46940091)    271
POINT (-97.52107021 35.47203136)    270
POINT (-79.15925046 35.46622098)    270
POINT (-86.14996019 39.76691045)    270
POINT (-72.64984095 41.56266102)    267
POINT (-75.57774117 39.00883067)    267
POINT (-106.240581 34.52088095)     267
POINT (-92.27449074 34.74865012)    261
POINT (-89.81637074 44.39319117)    261
POINT (-84.77497105 37.64597027)    258
POINT (-71.50036092 43.65595011)    255
POINT (-72.51764079 43.62538124)    255
POINT (-108.1098304 43.23554134)    252
POINT (-120.9999995 37.63864012)    249
POINT (-114.36373 43.68263001)      246
POINT (-100.118421 47.47531978)     243
POINT (-100.3735306 44.35313005)    243
POINT (-80.71264013 38.6655102)     240
POINT (-66.590149 18.220833)        225
POINT (-72.08269067 42.27687047)    186
POINT (-109.4244206 47.06652897)    180
POINT (-106.1336109 38.84384076)    180
Name: Geolocation, dtype: int64
length_of_study(yrs):
1    14087
6     5093
Name: length_of_study(yrs), dtype: int64
confidence_range:
3.9     61
3.5     60
3.0     56
3.4     56
5.0     53
        ..
77.5     1
65.8     1
10.9     1
50.4     1
18.5     1
Name: confidence_range, Length: 1401, dtype: int64

# Altering and Adding Fields

## Altering Data

In [6]:
#Simplifying the Question Field value using a function to fill data into a new field. 

# Function:
def simpleq(x):
    if x == 'Percentage of older adults who reported subjective cognitive decline or memory loss that is happening more often or is getting worse in the preceding 12 months':
        return 'General Decline'
    elif x == 'Percentage of older adults with subjective cognitive decline or memory loss who reported talking with a health care professional about it':
        return 'Spoke to Professional'
    elif x == 'Percentage of older adults who reported that as a result of subjective cognitive decline or memory loss that they need assistance with day-to-day activities':
        return 'Impaired ADLs'
    elif x == 'Percentage of older adults who reported subjective cognitive decline or memory loss that interferes with their ability to engage in social activities or household chores':
        return 'Impaired Social and Chore Activity'
    
#New Field
cog_dcln['Affect/Stage'] = cog_dcln['Question'].apply(simpleq)

In [7]:
cog_dcln.head(3)

,Unnamed: 0,YearStart,YearEnd,StateAbbr,State,Datasource,Class,Topic,Question,Data_Value_Unit,...,Low_Confidence_Limit,High_Confidence_Limit,Age Range,Stratification1,Stratification Type,Stratification Value,Geolocation,length_of_study(yrs),confidence_range,Affect/Stage
0,33,2015,2020,AL,Alabama,BRFSS,Cognitive Decline,Talked with health care professional about sub...,Percentage of older adults with subjective cog...,%,...,NaN,NaN,Age Group,65 years or older,Race/Ethnicity,Native Am/Alaskan Native,POINT (-86.63186076 32.84057112),6,NaN,Spoke to Professional
1,53,2015,2015,AL,Alabama,BRFSS,Cognitive Decline,Need assistance with day-to-day activities bec...,Percentage of older adults who reported that a...,%,...,33.6,50.4,Age Group,50-64 years,Race/Ethnicity,"White, non-Hispanic",POINT (-86.63186076 32.84057112),1,16.8,Impaired ADLs
2,91,2015,2020,AL,Alabama,BRFSS,Cognitive Decline,Need assistance with day-to-day activities bec...,Percentage of older adults who reported that a...,%,...,30.5,48.7,Age Group,Overall,Gender,Male,POINT (-86.63186076 32.84057112),6,18.2,Impaired ADLs

In [8]:
cog_dcln['Affect/Stage'].value_counts()

General Decline                       5088
Spoke to Professional                 4700
Impaired ADLs                         4696
Impaired Social and Chore Activity    4696
Name: Affect/Stage, dtype: int64

## Calculating Z-Scores and Removing Outliers
##### Let it be know this is a python and Data viz oriented project. If Statistics skills were meant to be shown then the approach to addressing outliers would be more thorough and precise.

In [9]:
# Stats info
cog_dcln.describe()

,Unnamed: 0,YearStart,YearEnd,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,length_of_study(yrs),confidence_range
count,19180.000000,19180.000000,19180.000000,11677.000000,11598.000000,11598.000000,19180.000000,11598.000000
mean,112830.272054,2016.755735,2018.083420,31.398210,23.067460,41.064321,2.327685,17.996862
std,59798.895540,1.946500,2.000606,16.889541,13.091987,20.792988,2.208151,13.046347
min,33.000000,2015.000000,2015.000000,0.000000,0.000000,2.100000,1.000000,0.700000
25%,64242.750000,2015.000000,2016.000000,13.900000,10.500000,19.800000,1.000000,7.700000
50%,116598.500000,2016.000000,2019.000000,32.600000,22.500000,43.300000,1.000000,16.600000
75%,163601.250000,2019.000000,2020.000000,44.000000,33.200000,55.800000,6.000000,23.800000
max,214455.000000,2020.000000,2020.000000,100.000000,94.600000,99.900000,6.000000,88.200000

In [10]:
# Convert Fields
cog_dcln['confidence_range'] = pd.to_numeric(cog_dcln['confidence_range'], errors='coerce')
cog_dcln['Data_Value'] = pd.to_numeric(cog_dcln['Data_Value'], errors='coerce')

# Fill Nulls with Median Values
cog_dcln['confidence_range'].fillna(16.6, inplace=True)
cog_dcln['Data_Value'].fillna(32.6, inplace=True)

In [11]:
# create zscore fields
cog_dcln['confidence_range_z'] = stats.zscore(cog_dcln['confidence_range'])
cog_dcln['Data_Value_z'] = stats.zscore(cog_dcln['Data_Value'])

# Dropping Rows with Nulls
mask = (cog_dcln['confidence_range_z'] >= 3) | (cog_dcln['confidence_range_z'] <= -3)
rows_to_drop = cog_dcln[mask].index

mask2 = (cog_dcln['Data_Value_z'] >= 3) | (cog_dcln['Data_Value_z'] <= -3)
rows_to_drop2 = cog_dcln[mask2].index

# Drop the selected rows from the DataFrame
common_indices = rows_to_drop.intersection(rows_to_drop2)
cog_dcln.drop(common_indices, inplace=True)
rows_to_drop2 = rows_to_drop2.difference(common_indices)
cog_dcln.drop(rows_to_drop2, inplace=True)

cog_dcln.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19057 entries, 0 to 19179
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             19057 non-null  int64
 1   YearStart              19057 non-null  int64
 2   YearEnd                19057 non-null  int64
 3   StateAbbr              19057 non-null  object
 4   State                  19057 non-null  object
 5   Datasource             19057 non-null  object
 6   Class                  19057 non-null  object
 7   Topic                  19057 non-null  object
 8   Question               19057 non-null  object
 9   Data_Value_Unit        19057 non-null  object
 10  DataValueTypeID        19057 non-null  object
 11  Data_Value_Type        19057 non-null  object
 12  Data_Value             19057 non-null  float64
 13  Low_Confidence_Limit   11483 non-null  float64
 14  High_Confidence_Limit  11483 non-null  float64
 15  Age Range              19057 non-null  object
 16  Stratification1        19057 non-null  object
 17  Stratification Type    16508 non-null  object
 18  Stratification Value   16508 non-null  object
 19  Geolocation            15901 non-null  object
 20  length_of_study(yrs)   19057 non-null  int64
 21  confidence_range       19057 non-null  float64
 22  Affect/Stage           19057 non-null  object
 23  confidence_range_z     19057 non-null  float64
 24  Data_Value_z           19057 non-null  float64
dtypes: float64(6), int64(4), object(15)
memory usage: 3.8+ MB

In [12]:
# Removing outliers from data set. 
cog_dcln['confidence_range_o'] = cog_dcln['confidence_range_z'].apply(lambda x: 'Outlier' if x >= 3 or x <= -3 else 'Normal')


cog_dcln['Data_Value_o'] = cog_dcln['Data_Value_z'].apply(lambda x: 'Outlier' if x >= 3 or x <= -3 else 'Normal')

In [13]:
cog_dcln['Data_Value_z'].value_counts()

 0.055468    7534
-2.415957      71
-1.688175      63
-1.703337      63
-1.506230      58
             ...
 2.731581       1
 2.413176       1
 2.822553       1
 2.686094       1
 2.814972       1
Name: Data_Value_z, Length: 679, dtype: int64

## Identifying, filling, and removing nulls to optimize data for insights and visualization. 
##### Let it be know this is a python and Data viz oriented project. If Statistics skills were meant to be shown then the approach to addressing outliers would be more thorough and precise.

### Identifying the Nulls.

In [26]:
# Number of Nulls for each Column

all_null_rows = pd.Series(cog_dcln.isnull().sum())

all_null_rows

Unnamed: 0                  0
YearStart                   0
YearEnd                     0
StateAbbr                   0
State                       0
Datasource                  0
Class                       0
Topic                       0
Question                    0
Data_Value_Unit             0
DataValueTypeID             0
Data_Value_Type             0
Data_Value                  0
Low_Confidence_Limit        0
High_Confidence_Limit       0
Age Range                   0
Stratification1             0
Stratification Type         0
Stratification Value        0
Geolocation              2748
length_of_study(yrs)        0
confidence_range            0
Affect/Stage                0
confidence_range_z          0
Data_Value_z                0
confidence_range_o          0
Data_Value_o                0
dtype: int64

### Filling Nulls

In [23]:
#Making median objects.

lcl_med = cog_dcln['Low_Confidence_Limit'].median()
hcl_med = cog_dcln['High_Confidence_Limit'].median()

#Filling Nulls with median to smooth data and optimize visualization.

cog_dcln['Low_Confidence_Limit'].fillna(value=lcl_med, inplace=True)
cog_dcln['High_Confidence_Limit'].fillna(value=hcl_med, inplace=True)

### Removing Nulls

In [25]:
#Removing Stratifcation Nulls
cog_dcln.dropna(subset=['Stratification Type','Stratification Value'], inplace = True)

# Export Data into a Excel file

In [30]:
cog_dcln.to_excel('Cognitive Decline Research Data.xlsx', index=False)